body {
    margin: 0;

    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.hidden {
    visibility: hidden;
}

button, input, textarea, select {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

*,
*:before,
*::after {
    box-sizing: border-box;
}

.view {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    min-width: 400px;
    min-height: 400px; 

    display: flex;
    flex-direction: column;
}

/* Leaflet overrides */

.leaflet-control-attribution {
    display: none;
}

.leaflet-container {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 
        0 1px 2px rgba(0, 0, 0, .24);  
}

/* Header */

.header {
    z-index: 1000;
    width: 100%;

    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 
        0 1px 2px rgba(0, 0, 0, .24);    
}

.header__inner {
    padding: 10px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: x-large;
    font-weight: 700;
    color: black;
}

/* Main */

.main {    
    flex-grow: 1;    
}

.main__inner {
    display: flex;
    height: 100%;
}

/* Menu */

.postForm__wrapper {
    width: 25%;
    height: 25%;
    min-width: max-content;
    min-height: 200px;

    padding: 10px;
}

.postForm {
    width: 100%;
    height: 100%;
    min-width: max-content;
    padding: 10px 20px;

    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 
        0 1px 2px rgba(0, 0, 0, .24); 
}

.postForm__inner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

/* Map */

.map__wrapper {
    flex-grow: 1;
    padding: 8px;
}

/* Auth */

.auth {    
    flex-grow: 1;    
}

.auth__inner {
    height: 100%;

    display: flex;   
    align-items: center;
    justify-content: center;
}

/* AuthForm */

.authForm {
    width: 500px;
    height: 300px;
    min-width: 500px;
    min-height: 300px;

    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 
        0 1px 2px rgba(0, 0, 0, .24);    
}

.authForm__inner {
    height: 100%;
    width: 100%;

    padding: 10px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.authForm__title {
    font-size: large;
}

.input__wrapper {
    width: 100%;
}

.button__wrapper {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button__wrapper__inner {
    margin-right: 20px;
}

/* MyInput */

.myInput {
    width: 100%;

    padding: 4px 8px;

    background-color: rgba(255, 255, 255, 1);

    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, .5);

    font-size: large; 
}

.myInput:focus,
.myInput:hover {
    border: 2px solid rgba(0, 0, 0, 1);
}

/* MyButton */

.myButton,
.myButton__inactive {
    width: 100%;
    min-width: 100px;

    padding: 4px 8px;

    color: rgba(0, 0, 0, .5);

    background-color: rgba(255, 255, 255, 1);

    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, .5);

    font-size: large;

    cursor: pointer;
}

.myButton:focus,
.myButton:hover {
    color: rgba(0, 0, 0, 1);
    border: 2px solid rgba(0, 0, 0, 1);
}

.exitButton {
    color: rgba(0, 0, 0, 1);

    background-color: transparent;

    border: 0px;

    font-size: large;

    cursor: pointer;
}

.exitButton:focus,
.exitButton:hover {   
    text-decoration: underline;
}

.deleteButton {
    color: rgba(0, 0, 0, 1);

    background-color: transparent;

    border: 0px;

    font-size: middle;

    cursor: pointer;
}

.deleteButton:focus,
.deleteButton:hover {   
    text-decoration: underline;
}

/* PostContent */

.postContent {
    height: 150px;
    width: 150px;
    min-height: 150px;
    min-width: 150px;
}

.postContent__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.postCommentary__wrapper {
    display: -webkit-box;

    box-orient: vertical;
    line-clamp: 3;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    overflow: hidden;
    text-overflow: ellipsis;

    font-size: medium;
    font-style: italic;
}

.postCoordinate__wrapper {
    width: 100%;
    color: rgba(0, 0, 0, .5);
    text-align: right;
}

.postAuthor__wrapper {
    width: 100%;
    color: rgba(0, 0, 0, .5);
    text-align: right;    
}

.postButton__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end; 
}

/* Loader */

.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.loader-spinner {
    border: 5px solid rgba(255, 255, 255, 1);
    border-top: 5px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Modal */

.myModal {
    z-index: 3000;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.5);
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModal__inner {
    padding: 20px;
    background: white;
    border-radius: 16px;    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ErrorContent */

.errorContent {
    width: 250px;
    height: 150px;
}

.errorContent__inner {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;

}

.errorContent__title {
    font-size: x-large;    
}

.errorContent__message {
    font-size: medium; 
}